@media screen and (min-width: 20px) and (max-width: 850px ){

    /* navigation  task 1st===========================================*/
    body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        font-family: poppins;
    
    }
    .navigation{
        height: 10px;
        display: flex;
        justify-content: center;
        padding: 30px 0px;
        align-items: center;
        justify-content: space-between;
        background-color: #080808;
        box-shadow: 0 0 10px rgb(252, 0, 0);
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 107;
    
    }
    .logo{
        color: #e70634;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0px auto 0px 0px;
        display: flex;
        align-items: center;
        font-family: monoton;
    }
    .logo span {
        font-size: 0.4rem;
        margin-left: 5px;
        font-weight: 700; 
        letter-spacing: 2px;
    }
    .search-box{
        background-color: #d1d1d111;
        padding: 1px 8px;
        border-radius: 15px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0px;
    }
    .search-box input{
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
    }
   
    .search-icon{
        width: 15px;
    }
    .search-box input::placeholder{
        color: hwb(0 44% 56%);
    }
    .search-box button{
        background-color: transparent;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .nav-icon{
        margin-left: 2px;
        
        margin-right: 5px;
    }
    .menu-btn{
        margin-left: 0px;
    }
    .navigation .menu-icon .nav-icon{
    background-color: #fff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s  ease-out;
}


    .menu {
        position: fixed;
        margin-left: 5px;
        margin-right: 5px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 2px;
        width: 100%;
        height: 100%;
        background-color: #111111f1;
        z-index: 101;
        display: none;
        justify-content: center;
        align-items: center;
        animation: fade 0.3s;
    }
    .menu li a {
        color: #fff;
        margin: 0px 25%;
        font-size: 1rem;
        font-family: monoton;
        align-items: center;
        text-align: center;
        padding: 15px;
        
    }
    .menu li a:hover{
        font-size: 1.3rem;
        color: #e70634;
        transition: all ease 0.3s;
    }



















    .navigation .menu-btn:checked ~ .menu {
        display: inline-block;
    }













    .menuand{
        position: fixed;
        margin-left: 5px;
        margin-right: 5px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 2px;
        width: 78%;
        height: 80%;
        background-color: #111111f1;
        z-index: 101;
        display: none;
        justify-content: center;
        align-items: center;
        animation: fade 0.3s;
    }

    .menuand a {
        text-decoration: none;
        font-family: monoton;
        color: #fff;
        margin: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        font-size: 2rem;
        margin-top: 5px;
    }
    .menuand a:hover{
        color: #e70634;
        transition: all ease 0.3s;
    }


    @keyframes fade{
        0%{
            opacity: 0;

        }
        100%{
            opacity: 1;
        }
    }
    .image-content{
        display: flex;
        flex-direction: column;
        width: 167px;
        height: auto;
        padding: 5px;
    }
    .img{
        width: 100%;
        height: 250px;
        overflow: hidden;
          
        
    }
    .image-content img{
        width: 100%;
        height: 330px;
    }
    .content-p { 
        width: 100%;
        background-color: #252525;
        height: auto;
        text-align: left;
        color: #fff;
    }
    .content-p p{
        font-size: 15px;
        padding: 10px;
        
    }
    .content-p a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
    
    }
    
    .image-content img:hover{
        transform: scale(1.0);
      transform-origin: 50% 50%;
      animation: animate 0.5s ease-in-out forwards;
     
    }
    
    @keyframes animate {
    
        from{
            transform: scale(1.0);
        }
    
        to{
            transform: scale(1.2);
        }
    }




}
