*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #080808;

}
ul {
    list-style: none;
}
a{
    text-decoration: none;

}



/* navigation */

.navigation{
    padding: 30px 50px;

    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #080808;
    box-shadow: 0 0 10px rgb(252, 0, 0);
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 107;

}
.navigation .menu-icon {
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;
}
.navigation .menu-icon .nav-icon{
    background-color: #fff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s  ease-out;
}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
    background-color: #fff;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;

}
.navigation .menu-icon .nav-icon::before{
    top: 8px;
}
.navigation .menu-icon .nav-icon::after{
    top: -8px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-135deg);
    top: 0px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(135deg);
    top: 0px;
}

.menu-btn {
    display: none;
}
/* ------menu----------- */
 
.menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #111111f1;
    z-index: 102;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}
.menu li a {
    color: #fff;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: monoton;
}
.menu li a:hover{
    font-size: 2.3rem;
    color: #e70634;
    transition: all ease 0.3s;
}


@keyframes fade{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

.menuand{
    display: none;
}


/* logo */

.logo{
    color: #e70634;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    font-family: monoton;
    letter-spacing: 1px;
}
.logo span {
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 700; 
    letter-spacing: 2px;
}
 
.navigation .menu-btn:checked ~ .menu {
    display: flex;
}

/* Search ===================================== */

.search-box{
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}
.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.search-icon{
    width: 20px;
}
.search-box input::placeholder{
    color: hsl(0, 1%, 35%);
}
.search-box button{
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}


/* main container=================================================================== */

.ddddddddddddd{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin-left: 1%;
}
.image-content{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: auto;
    padding: 10px;
}
.img{
    width: 100%;
    height: 330px;
    overflow: hidden;
      
    
}
.image-content img{
    width: 100%;
    height: 330px;
}
.content-p { 
    width: 100%;
    background-color: #252525;
    height: auto;
    text-align: left;
    color: #fff;
}
.content-p p{
    font-size: 15px;
    padding: 10px;
    
}
.content-p a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}

.image-content img:hover{
    transform: scale(1.0);
  transform-origin: 50% 50%;
  animation: animate 0.5s ease-in-out forwards;
 
}

@keyframes animate {

    from{
        transform: scale(1.0);
    }

    to{
        transform: scale(1.2);
    }
}




